About.module.css
.aboutContainer {
  max-width: 800px;
  margin: 20px;
  padding: 13rem 12rem;
  background: linear-gradient(135deg, #c2d66a, #dbd95b);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #da6a0f;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #da682f;
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #5a0606;
}
