.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 50px;
  text-align: center;
  text-shadow: 20px;
  
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
}
