.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
