.welcome-section {
  height: 100vh;
  background: url('./ASSETS/CAR1.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px black;
}
